*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-size: 18px; */
    font-family: sans-serif;
    /* display: flex; */
    /* justify-content: space-evenly; */
}
.card{
    /* display: flex; */
    border: 1px solid #000;
    padding: 10px;
    gap: 10px;
    margin-bottom: 20px;
}
.card img{
    width: 300px;
    height: 300px;
}
/* .a{
    display: flex;
    flex-wrap: wrap;
} */
.wraper{
    display: flex;
    flex-wrap: wrap;
    /* width: 500px;
    height: 500px; */
    margin-left:120px;
    gap: 10px;
}
h2{
    text-align: center;
    margin-bottom: 5px;
}
.loader{
    margin: 0 auto;
}
/* div{
    display: flex;
    
} */